<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Fancy</string>
	<key>uuid</key>
	<string>459FD945-2666-462A-BF2C-A75EB345D554</string>
</dict>
</plist>
